.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}

.color-red
{
    color: #ff0000;
}
.error
{
    color: #ff0000;
    margin: 3px 0;
}

.btn-treeandtoys
{
    color: #fff;
    border-radius: 5px;
    background: #73b629;
    font-size: 20px;
    padding: 5px 20px 10px 20px;
    display: inline-block;
    opacity: 1;
    text-transform: lowercase;

}

.btn-treeandtoys:hover,
.btn-treeandtoys:focus
{
    color: #fff;
    background: #779c2b;
}


.btn-treeandtoys-close
{
    color: #fff;
    border-radius: 5px;
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 20px;
    padding: 5px 20px 10px 20px;
    display: inline-block;
    opacity: 1;
    text-transform: lowercase;
}
.btn-treeandtoys-close:hover,
.btn-treeandtoys-close:focus
{
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
}

.btn-treeandtoys-form {
    color: #fff;
    border-radius: 30px;
    background: #779c2b;
    font-size: 20px;
    padding: 0 20px 5px 20px;
    opacity: 1;
    text-transform: lowercase;
}
.btn-treeandtoys-form:hover,
.btn-treeandtoys-form:focus {
    color: #fff;
    background:#73b629 ;
}


