*, *:before, *:after {
    box-sizing: border-box;
    border: none;
}
:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}
body {
    color: #707070;
    font-family: Segoe UI Regular;
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
}
h1, .h1 {
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2, .h2 {
    color: #73b629;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
section
{
    padding: 20px 0;
}
a:hover
{
    text-decoration: none;
}

/* header */
.header-block
{
    padding-top: 40px;
    font-size: 20px;
    color:#707070;
}
.logo
{
    display:  block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.logo img
{
    max-width: 200px;
    width: 100%;
}



.top-left,
.top-right
{
    padding-top: 30px;
}

.top-contact a
{
    padding: 0 2px;
    color:#707070;
}
.top-contact a i
{
   color: #b14916;
}
.top-search
{
    padding: 40px 30px 0 30px;
}
.form-search .form-control
{
    width: 100%;

}
.form-search .input-group
{
    width: 100%;
    margin: 0;
    padding:0;
}
.form-search .input-group .form-control
{
    height: 45px;
    border-radius: 30px 30px;
    background: #cee6b6;
    width: 82.333333%;
    border: none;
    box-shadow: none;
    float: left;
}

.form-search .input-group  input
{
    background: #cee6b6;
}

.form-search .input-group  input:focus
{
    box-shadow: none;
}
.form-search  a
{
   padding-left: 10px;
   color:#707070;
}
.form-search  .search-button
{

    background: #cee6b6;
    margin-left: 10px;
    border-radius: 50%;
}

.form-search  .search-button i
{
    display: inline-block;
    padding: 12px 10px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: none;
    width: 100%;
    margin-bottom: 0;
}
.geo
{
    display: inline;
}
.top-user-bar
{
    padding: 0 2px;
    color:#707070;
    font-weight: normal;
    clear: none;
}
.top-user-bar a
{
    padding: 0 2px;
    color:#707070;
}
.top-user-bar a i
{
    color: #b14916;
}
.top-user-bar a.cart-button
{
    color: #b14916;
    font-size: 30px;
    display: inline-block;
    padding: 0 20px 0 0;

}
.top-user-bar a:hover,
.top-user-bar a:focus
{
    text-decoration: none;
}
.top-user-bar a.cart-button .cart-count
{
    color: #fff;
    background:#73b629;
    font-size: 12px;
    font-style: normal;
    font-family: Segoe UI bold;
    margin-top: -2px;
    margin-left: -8px;
    position: absolute;
    border-radius: 60px;
    padding: 4px 6px;
}

.top-user-bar a.login
{

    font-size: 40px;
}

.top-user-bar a.login
{
    font-size: 30px;
    color: #b14916;
}



.top-user-bar a.login span
{
    font-size: 20px;
    height: 33px;
    display: inline-block;
    color:#707070;
    font-weight: normal;
    margin:0 10px 0 10px;
    vertical-align: middle;
    font-family: Segoe UI Regular;
}

.dropdown-menu
{
    width: 100%;
    max-width: 100%;
}
.mobile-li .cart-count
{
    color: #707070;
    background: #fefce7;
    font-size: 12px;
    font-style: normal;
    font-family: Segoe UI bold;
    margin-left: 5px;
    border-radius: 50%;
    padding: 0 6px;
    border: 1px solid #ccc;
}


.registry .top-user-bar
{
    text-align: left;
}
.registry .top-user-bar a.login
{
   color: #73b629;
}

.registry .dropdown-toggle::after
{
    display: none;
}
.registry .dropdown
{
    display: inline;
    color: #fff;
    padding-bottom: 10px;
}
.registry .dropdown-menu
{
    background: #73b629;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: #fff;
    border-radius: 20px 20px;

}
.registry #dropdown-user-menu
{
    padding-bottom:  13px;
}

.registry .dropdown-menu:after
{
    border:15px solid transparent;
    border-bottom-color:#73b629;
    position:absolute;
    bottom:100%;
    margin:auto;
    left: 0;
    right: 0;
    width: 20px;
    content:'';

}

.registry .dropdown-menu a
{
    color: #fff;
    margin: 5px 0;
    padding: 3px 10px 3px 3px;

}
.registry .dropdown-menu a:hover,
.registry .dropdown-menu a:focus
{
    color: #fff;
    margin: 5px 5px 5px 0;
    border-radius: 10px 10px;
    background: #b14916;

}
.geo-registry
{
    text-align: left;
    padding-bottom: 20px;
}

.geo a,
 .geo-registry a
{
    color: #b14916;
    font-size: 25px;
}
 .geo span,
 .geo-registry span
 {
    font-size: 20px;
    height: 33px;
    display: inline-block;
    color:#707070;
    font-weight: normal;
    margin:0 0 0 5px;
    vertical-align: middle;
    font-family: Segoe UI Regular;
}
.social
{
    display: block;
    padding-top:20px;
    text-align: center;
    width: 50%;
}
.social a
{

   padding: 10px;

}
.geo-registry a.vk i,
.geo a.vk i,
.social a.vk i
{

    background:#4973ad;
    padding: 5px;
    border-radius: 60px;
    color: #fff;
    font-size: 20px;

}
.geo a.instagram i,
.geo a.vk i
{
    display: inline-block;
}

.top-user-bar .geo,
.geo-registry
{
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.geo-registry a.instagram i,
.geo a.instagram i,
.social a.instagram i
{
    font-size: 20px;
    background: #d6249f;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    padding: 5px;
    border-radius: 60px;
    color: #fff;
}


.nav
{
    padding-top: 10px;
}

.nav a
{
    color: #707070;
}
.nav > li > a:focus, .nav > li > a:hover {
    color: #fff;
    background-color: #73b629;
}

.menu-nav
{
    word-wrap: break-word;
}

.menu-nav .dropdown-menu a
{
    color: #fff;
}
.arrow-menu {
    display: inline-block;
    background: url(/images/icon/mark.png) left no-repeat;
    height: 12px;
    width: 16px;
}

.nav  li.dropdown:hover .arrow-menu
{
    background: url(/images/icon/mark_hover.png) left no-repeat;
}

.dropdown-menu>li>a {

    white-space:normal;
}

.nav > li a:focus , .nav li.dropdown > a:hover
{
    background-color: #73b629;
    color: #fff;
    border: 0;
}


.nav li.dropdown:hover
{
    border-radius: 10px 10px 0 0;
}


.nav .open>a, .nav .open >a:focus, .nav .open>a:hover {
    background-color: #73b629;
    color: #fff;

}
.nav .open >a:focus .arrow-menu,
.nav .open>a:hover .arrow-menu
{
    background: url(/images/icon/mark_hover.png) left no-repeat;
}

.navbar .dropdown-menu
{

    background-color: rgba(115,182,41,0.8);
    color: #fff;
    border-radius: 0;
    font-size: 20px;
    padding-top: 20px;
    margin: 0;
    border: 0;
}
.menu-nav .dropdown-menu a:hover
{
    background-color: #b14916;
    color: #fff;
    border-radius: 0;
    margin: 0;
    border: 1px solid #7f640d;
}

.navbar {
    margin-bottom: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
    margin: 0 auto;
}

.navbar-toggle {
    background-color: #b14916;
    width: 100%;
    margin-right: 0;
    text-align: center;
}


.navbar-toggle-icon
{
    color: #fff;
    width: 100%;
}



.navbar-nav
{
    padding: 10px;
}
.navbar .mobile-hr,
.navbar .mobile-li
{
    display: none;
}

.delimiter hr
{
    border: 1px solid #b14916;
    margin: 5px 0 0;
}
/* header close */


/* slider */
.carousel-inner img {
    width:100%;
    height:100%;
}
.carousel-indicators .active {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #b14916;
    margin: 0;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #b14916;
    margin: 0;
}
.carousel-indicators li:hover {
    cursor:pointer;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: rgba(115,182,41,0.9);
}
.carousel-indicators  .active {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #b14916;
    margin: 0;
}
.carousel-indicators  .active {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #b14916;
    margin: 0;
}
.carousel-caption
{
  margin: auto;
  font-family: Slimamif;
}


.carousel-caption h3
{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
.carousel-caption p
{
    font-size: 40px;
    font-weight: bold;
    line-height: 0.9;
    text-shadow: 1px 1px 2px black;
}
.carousel-caption hr
{
    max-width: 400px;
    border: 1px solid #fff;
}

.carousel-caption {
    transform: translateY(-80%);
    bottom: 0;
    top: 50%;
}
.caption-button
{
    padding: 20px;

}
.caption-button a.button
{
    background-color: #b14916;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    border: 1px solid #707070;
    font-family: Segoe UI Regular;
}
.caption-button a.button:hover
{
    background-color:#73b629;

}
/* slider close */

/* like category */


.category
{
    text-align: center;
    font-size: 20px;
}
.category .row
{
    padding-top: 50px;
}
.category h2
{
    font-size: 40px;
    font-family: Segoe UI Semibold;
    text-align: center;
    font-weight: bold;
    color: #707070;
    text-transform: none;
    padding-top: 40px;
}

.category hr
{
    border: 3px solid #b14916;
    border-radius: 3px;
    max-width: 300px;
    background: #b14916;
}
.category .category-block
{
    max-width: 180px;
    width: 95%;
    display: block;
    margin: 0 auto;
}
.category .images-round
{
    padding: 30px;
    border-radius: 50%;
    background: #c8e3ac;
}
.category .images-round:hover
{
    background-color:#e7c7b8;
}
.category img {
     width: auto;
     max-height: 100px;
 }

.category p
{
    padding:30px 0;
}
.category a
{
    color: #707070;
    text-decoration: none;
}
/* promotions */
.promotions
{
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    background: #f1f0ee;
    padding: 0 0 60px;
}
.promotions .row
{
    padding-top: 20px;
}
.promotions  h2
{
    font-size: 40px;
    font-family: Segoe UI Semibold;
    text-align: center;
    font-weight: bold;
    color: #707070;
    text-transform: none;
    padding-top: 40px;
}

.promotions  hr
{
    border: 3px solid #b14916;
    border-radius: 3px;
    max-width: 300px;
    background: #b14916;
}
 .col-product
{
    margin-bottom: 60px;
}

.product
{
    padding: 0 10px;
    width: 95%;
    display: block;
}
.product-body
{
    border: 1px solid #707070;
    background: #fff;
    border-radius: 60px;
    display: block;
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.product-body .product-title
{
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
}


.product-body .product-title h3
{
    font-family: Segoe UI Semibold;
    color:#73b629;
    font-size: 22px;
    font-weight: bold;

}

.product-body .product-title .code
{
    color: #707070;
    font-size: 20px;

}
.product-body .product-images
{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-body .product-images img
{
    width: auto;
    max-height: 180px;
}
.product-body .product-footer
{
    padding: 30px;
    margin: 0 auto;
    width: 60%;
}
.product-body .value
{
    font-family: Segoe UI Semibold;
    color:#73b629;
    font-size: 22px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 30px;
}
.product-body .discount
{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    bottom: 30px;
    text-align: center;
}
.product-body .time-discount
{
    display: block;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-color: #b14916;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 115px;
    height: 115px;
    color:#fff;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    font-family: Segoe UI Semibold;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
}

.product-body .time-discount .title
{
    font-size: 12px;
}
.product-body .time-discount .number
{
    font-size: 26px;
    display: block;

}
.product-body .time-discount .time
{
    display: block;
}
.product-select
{
    position: relative;
    z-index: 1;
    margin: -50px 0 0 0;
    cursor: pointer;

}

.product-select .product-dropdown
{
    background:#73b629 ;
    border-radius: 0 0 80px 80px;
    border: 1px solid #707070;
    color: #000;
    margin: 0 auto;
    width: 90%;
    position: relative;
    height: 100px;
    bottom: 1px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: block;
    visibility: hidden;
}
.product-select .product-dropdown p
{
    margin: 60px 0 0 0;
    color: #fff;
    font-family: Segoe UI Semibold;
}
.product-select .dropdown-add .issue
{
    display: none;
}
.product-select .dropdown-add
{
    display: block;
    visibility: visible;
}
.product-select .dropdown-add .add
{
    font-family: Segoe UI Regular;
    display: block;
    color:#707070;
    font-size: 16px;
}

.product-select .dropdown-add .add .round-icon
{
    background: #fefce7;
    font-size: 12px;
    font-style: normal;
    position: absolute;
    border-radius: 50%;
    padding: 0 8px;
    border: 1px solid #707070;
}
.product-select .dropdown-add .add .indentation
{
    display: inline-block;
    margin-left: 25px;
}

.product-select .dropdown-add
{
    background: #e7c7b8;
}
.product-dropdown .add
{
    display: none;
}

.col-product:hover  .product-select .product-dropdown
{
    display: block;
    visibility: visible;
}
/* promotions close */


/* footer */
.footer-images{
    background-image:url('../images/bg.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}
.footer-form
{
    padding: 140px 0;
}
.footer-form
{
color:#fff;
}
.footer-form p
{
   margin: 15px 0 15px 0;
}

.footer-form h2
{
    color: #fff;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Segoe UI Regular;
    text-transform: none;
    font-size: 40px;
}
.form-subscription .form-control
{
    width: 100%;

}
.form-subscription .input-group
{
    width: 60%;
    margin: 0;
    padding:0;
}
.form-subscription .input-group .form-control
{
    background: rgba(255,255,255, 0.8);
    border: 1px solid #707070;
    height: 45px;
    border-radius: 30px 30px;
    box-shadow: none;
    width: 83.333333%;
    color: #707070;
    float: left;
}
.form-subscription .input-group  input
{
    background: #9b999a;
    border: 1px solid  #707070;
}

.form-subscription .input-group  input:focus
{
    box-shadow: none;
}
.form-subscription .subscription-button
{

    background: rgba(255,255,255, 0.8);
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid  #707070;;
}

.form-subscription  .subscription-button i
{
    display: inline-block;
    padding: 14px 10px;
    color: #707070;
}


.menu-footer
{
    background: rgba(85,85,85,0.6);
    border: 1px solid #6f7170;
    padding: 50px 0;

}

.bottom-menu h3, .bottom-menu .h3 {
    color: #fff;
    font-size: 16px;
    font-family: Segoe UI Semibold;
    text-decoration: underline;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 10px;
}
.bottom-menu
{
    padding: 10px 0;
}
.bottom-menu ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.bottom-menu ul li a {
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: normal;
    text-transform: none;
}

.footer-bottom
{
    width: 100%;
    background: #575757;
}

.footer-block p
{
   color: #fff;
   margin: 1rem 0;
}


.social-bottom
{
    text-align: right;
}

.social-bottom a
{

    padding: 10px;

}

.social-bottom a.vk i
{

    background:#4973ad;
    padding: 5px;
    border-radius: 60px;
    color: #fff;

}



.social-bottom a.instagram i
{
    background: #d6249f;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    padding: 5px;
    border-radius: 60px;
    color: #fff;
}




/* modal */

.modal {
    margin: 0 auto;
    width: 100%;
}

.modal-dialog {
    max-width: 450px;
    width: 90%;
    margin: 30px auto;
}

.modal-info
{
    font-size: 16px;
    display: block;
}
.modal h5 {
    font-size: 24px;
    color: #779c2b;
    font-family: Segoe UI bold;
    padding: 10px 0;

}

.modal-header
{
    padding: 40px 10px 10px 10px;
    border: none;
}
.modal-content
{
    padding: 0 20px;
    border-radius: 40px;
}
.modal-content .close
{
    height: 32px;
    width: 32px;
    display: block;
    position: relative;
    font-size:24px ;
    font-family: Segoe UI bold;
    font-weight: normal;
    background: #779c2b;
    border-radius: 50%;
    opacity: .5;
    margin: 10px;
}
.modal-content
{
    color:#575757;
    font-family: Segoe UI Regular;
    font-weight: normal;
    font-size: 20px;

}
.modal-content label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: normal;
}
.modal-bottom-close
{
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
}

.modal .btn-modal
{
    color: #fff;
    border-radius: 30px;
    background: #779c2b;
    font-size: 20px;
    padding: 0 20px 5px 20px;
    opacity: 1;
    text-transform: lowercase;
}
.modal .btn-modal i
{
    vertical-align: middle;
    font-size: 20px;
}
.modal .btn-modal:hover,
.modal .btn-modal:focus
{
    opacity: 1;
}

.modal-content .forgot-password
{
    display: block;
    text-align: right;
    padding: 0 20px 0 0;
    margin-top: -10px;
    margin-bottom: 3px;
    font-size: 16px;
    color: #ccc;
    text-decoration: underline;
}
.modal-content .forgot-password:hover,
.modal-content .forgot-password:focus
{

    color: #575757;

}
.modal-content .form-control
{
    border-radius: 40px;
    height: 40px;
    border: 1px solid #575757;
}
.modal-content .close:hover
{
    opacity: 1.0;
}
.modal-content .round {
    color: #fff;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 1px;
    right: 0;
    bottom: 0;
}
.modal-content .round {
    color: #fff;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 1px;
    right: 0;
    bottom: 0;
}

.modal-footer {
    border-top: none;
    text-align: left;
    padding: 0 0 30px 0;
}

.modal-footer .btn-modal {

    padding: 0 20px 5px 20px;
    text-transform: lowercase;
}



.modal-footer .registry-bottom
{
    padding: 10px 0;

}
.modal hr
{
     border: 3px solid #59b560;
     margin-bottom: 5px;
}


/* breadcrumb */
.breadcrumb-block
{
    padding: 20px 0 0 0;
}
.breadcrumb
{
    background-color: #fff;
    color: #707070;
	margin:0 0;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #707070;
    content: "\003e";
}
/* breadcrumb close */
/* catalog */
.catalog-page .col-product {
     margin-bottom: 15px;
 }

.catalog-page .product
{
    width: 100%;
}
.filter-block,.product-block
{
    padding: 10px 0;
}
.form-sort
{
    font-weight: normal;
}
.form-group
{
    vertical-align: middle;
}
.catalog-page .form-control
{
    height: auto;
}
.form-sort
{
    padding: 0 20px;
}
.form-sort label,
.form-sort select
{
    display: inline-block;
    width: auto;
    font-weight: normal;
    font-size: 18px;
}

.form-sort select
{
    border: none;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background: #75b529;
    text-transform: lowercase;
    border-radius: 10px;
    box-shadow: none;

}
.form-sort option{
    background: #75b529;
    color: #fff;
    width: 150px;
}
.form-sort .select-block
{
    padding: 0 20px 0 0;
    display: inline-block;
    border-radius: 10px;
    background: #75b529;
    text-align: center;
    position: relative;

}
.form-sort .arrow-sort
{

    display: inline-block;
    background: url(/images/icon/mark_hover.png) left no-repeat;
    height: 11px;
    width: 15px;

}

.form-sort .select-block i
{
    position: absolute;
    right: 10px;
    top:14px;
    color: #fff;
}


.catalog-page .filter-block
{
    padding: 0 40px 0 0;
}

.form-filter
{
    border: 1px solid #83a45d;
    border-radius: 10px;
    font-size: 24px;
    color: #707070;

}
.form-filter label
{
    font-size: 24px;
    font-weight: normal;
    padding: 0 10px;

}
.form-filter .end-block
{
    border-bottom: 1px solid #83a45d;
    border-radius: 10px;
}
.form-filter .filter-bottom .btn-product
{
    width: 260px;
    border: 1px solid #73b629;
    color: #73b629;
    background: none;
    border-radius: 30px;
    padding: 15px 0;
    margin: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.form-filter .filter-bottom .btn-product:hover,
.form-filter .filter-bottom .btn-product:focus
{
    background: #73b629;
    color: #fff;
}

.form-filter .filter-bottom
{
    text-align: center;
    padding: 10px 0;
}

.form-filter hr
{
    border-top: 1px solid #83a45d;
    border-radius: 10px;
    padding: 0 0 15px 0;
    margin: 0;
}
.form-filter .group-label
{
    color: #707070;
    width: 100%;
    padding: 10px 0 20px;
}
.form-filter .group-label:first-child {
    padding: 20px 0 20px;
}
.form-filter .block-label
{
    text-align: left;
    position: relative;
}
.form-filter .block-label i
{
    position: absolute;
    right: 10px;
    top: 10px;

}
.form-filter .arrow-filter
{

    display: inline-block;
    background: url(/images/icon/mark_filter.png) left no-repeat;
    height: 12px;
    width: 20px;
}
.form-filter .group-filter
{
    position: relative;
    display: block;
    font-size: 16px;
    padding: 10px 0 20px;
}
.form-filter .group-block
{
    padding: 10px 0 20px;
}
.form-filter .group-filter .group-price
{
    text-align: center;
    letter-spacing : -.36em;

}
.form-filter .group-price span
{

    letter-spacing: 0;
}
.form-filter .group-price .rub
{

    display: inline-block;
    background: url(/images/icon/rub.png) left no-repeat;
    height: 14px;
    width: 14px;

}
.form-filter .group-price div
{

    width: 130px;
    display: inline-block;
    border: 1px solid #78b17e;
    border-radius: unset;
}
.form-filter .group-price input
{

    width: 80px;
    display: inline-block;
    border: none;
    border-radius: unset;
    text-align: center;
    margin:0;
    font-size: 16px;
}
.form-filter .group-block
{
    position: relative;
    display: block;
}
.form-filter .group-block select
{
    width: 260px;
    margin: 0 auto;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #78b17e;
    font-size: 16px;


}

.range-slider
{
    padding: 0 15px;
    text-align: center;

}

.range-slider .irs-max,
.range-slider .irs-single,
.range-slider .irs-min,
.range-slider .irs-to,
.range-slider .irs-from
{
    display: none;
}
.range-slider .irs
{
    padding-top: 0;
    margin: 0 auto;
    height: 15px;
    max-width: 260px;
}
.range-slider .irs-bar,
.range-slider .irs-bar-edge,
.range-slider .irs-shadow .shadow-single,
.range-slider .irs-slider .single,
.range-slider .irs-line
{
    top:0;
    height: 5px;
}
.range-slider .irs-slider
{
    top:-5px;
    width: 15px;
    height: 15px;
}

.range-slider .irs-bar,
.range-slider .irs-bar-edge
{
    background:#73b629;
    border: 1px solid #73b629;
}
.range-slider .irs-slider
{
    background: #73b629;
}
.range-slider .irs-slider:hover,
.range-slider .irs-slider.state_hover,
.range-slider .irs-slider:focus
{
    background: #b14916;
}

.checkbox-sale
{
    text-align: center;
    position: relative;
}

.checkbox-sale label
{
    font-size: 19px;
}

.group-block .checkbox-sale
{
    text-align: left;
    position: relative;
}
.group-block .checkbox-container,
.group-filter .checkbox-container
{
    max-width: 260px;
    margin: 0 auto;
    padding: 3px 0;
}


/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}


.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    display: inline-block;
    margin-bottom: -2px;
    height: 18px;
    width: 18px;
    border: 1px solid #83a45d;
}


.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}


.checkbox-container input:checked ~ .checkmark {

}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}


.checkbox-container .checkmark:after {
    width: 5px;
    height: 10px;
    border: solid #83a45d;
    margin: 2px 0px 0 5px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.paginate-catalog .pagination>li>a,
.paginate-catalog.pagination>li>span
{
    border-radius: 50% !important;margin: 0 5px;
    background-color: #779b2d;
    border-color: #779b2d;
    color: #fff;
}
.paginate-catalog .pagination>li>a:hover,
.paginate-catalog.pagination>li>span:hover,
.paginate-catalog .pagination>li>a:focus,
.paginate-catalog.pagination>li>span:focus
{
    border-radius: 50% !important;margin: 0 5px;
    background: #b14916;
    border-color: #b14916;
    color: #fff;
}

/* product-page */
.product-page .product-images
{
    border: 1px solid #a8b48e;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding: 20px 20px;
}
.product-page .product-images img
{
    width: 100%;
    height: auto;
}
.product-page .block a
{
    border: 1px solid #a8b48e;
    border-radius: 10px;
    color: #3498db;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    display: block;
}

.product-page .slick-prev:before, .product-page .slick-next:before {
    color: #b14916;
}

.modal-dialog-images
{

    width: 65%;
    margin: 30px auto;
    text-align: center;
}

.modal-dialog-images img
{
    height: auto;
    width: 100%;
}


.modal-dialog-images .images-full
{

    font-size: 16px;
    color: #78b17e;
}
.modal-dialog-images .images-full:hover
{
   text-decoration:underline;
}
.product-block-info
{
    border: 1px solid #a8b48e;

    border-radius: 30px;
    padding: 0 20px;
    margin: 20px 0;

}

.product-block-info .head-product-block
{
    padding: 10px 0 ;
}
.product-block-info .middle-product-block
{

    display: block;
}
.product-block-info .footer-product-block
{
    padding: 10px;
}

.product-block-info .product-price
{
    padding: 40px 0 20px 0;
}

.product-block-info .special
{
    color: #ff0000;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}
.product-block-info .old-price
{
        margin-right:30px ;
        display: inline-block;
}

.product-block-info .now-price
{
    font-size: 36px;
    color: #779c2b;
    font-family: Segoe UI bold;
    display: inline-block;
    vertical-align: middle;
}

.product-block-info .product-logo
{
    width: 100%;
    text-align: center;
}
.product-block-info .product-logo img
{
    width: 150px;
    height: auto;
}
.product-block-info .buy-one-click
{
    display: block;
}

.product-block-info  .cart-button
{
    padding: 5px 20px;
    border: 1px solid #a8b48e;
    display: inline-block;
    border-radius: 5px;
    color: #707070;
}

.product-block-info  .cart-button:hover,
.product-block-info  .cart-button:focus
{
    padding: 5px 20px;
    border: 1px solid #a8b48e;
    background: #73b629;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.product-block-info .status-product
{
    line-height: 15px;
    text-align: center;
}
.product-block-info .status-product,
.product-block-info .add-cart-button
{
    padding: 20px 0;
}

.product-block-info .status-product .status
{
    color: #b14916;
    font-size: 24px;
    font-family: Segoe UI bold;
}

.product-page .description
{
    display: block;
    position: relative;
}

.product-page .description .properties
{
    width: 100%;
    text-align: center;
}
.product-page .description .properties ul
{
    list-style: none;
    display: inline-block;
}
.product-page .description .properties ul li
{
    text-align: left;
}
.product-page .description .properties .property-name
{
    width: 100px;
    line-height: 1.5;
    display: inline-block;
}

.product-page .description .properties .property
{
    color:#b14916;
    line-height: 1.5;
    display: inline-block;
}

.product-tabs-block
{
    padding: 20px 0;
}

.product-page .tab-content-product
{
    border: 1px solid #a8b48e;
    padding: 0 20px;
}
.product-tabs .nav-tabs
{
    border-bottom: 1px solid #a8b48e;
}

.product-tabs .nav-tabs i
{
   color: #b14916;
}

.product-tabs .nav-tabs>li:first-child
{
    padding: 0 5px 0 30px;
}
.product-tabs .nav-tabs>li
{
    padding: 0 5px;
}
.product-tabs .nav-tabs>li.active>a,
.product-tabs .nav-tabs>li.active>a:focus,
.product-tabs .nav-tabs>li.active>a:hover
{
    border-radius: 10px 10px 0 0;
    border: 1px solid #a8b48e;
    font-family: Segoe UI bold;
}
.product-tabs .nav-tabs>li>a
{
    border-radius: 10px 10px 0 0;
    border: 1px solid #a8b48e;
}

.product-page .btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.product-page .rating-block{

    padding:15px 15px 20px 15px;
    border-radius:3px;
}
.product-page .bold{
    font-weight:700;
}
.product-page .padding-bottom-7{
    padding-bottom:7px;
}

.product-page .review-block{

    padding: 30px;
    border-radius:3px;
    margin-bottom:15px;
}
.product-page .review-block-name{
    font-size:12px;
    margin:10px 0;
}
.product-page .review-block-date{
    font-size:12px;
}
.product-page .review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.product-page .review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.product-page .review-block-description{
    font-size:13px;
}
.product-page .btn-reviews {
color: #fff;
background-color:#b14916;
border-color: #eea236;
}

.detailed-description-block , .manual-block
{
    padding: 20px;
}
.review-block img
{
    width: 60px;
    height: auto;
}

.review-block .review-block-title .user-info
{
    display: inline-block;
}
.review-block .review-block-title .time-info
{
    display: inline-block;
    float: right;
}
.review-block .review-block-description
{
     clear: both;
    display: block;

}
.review-block .review
{
    border-top: 1px solid #a8b48e;
    padding: 15px 0;
}
.review-block .review:last-child
{
    border-top: 1px solid #a8b48e;
    border-bottom: 1px solid #a8b48e;
    padding: 15px 0;
}

.review-block-form .review-form
{
    display: none;
}
.related-goods  hr
{
    border: 3px solid #b14916;
    border-radius: 3px;
    max-width: 300px;
    background: #b14916;
}

.related-goods
{
    border-bottom: 1px solid #707070;
    background: #f1f0ee;
    padding: 0 0 20px;
}
.related-goods .row
{
    padding-top: 20px;
}
.related-goods  h2
{
    font-size: 40px;
    font-family: Segoe UI Semibold;
    text-align: center;
    font-weight: bold;
    color: #707070;
    text-transform: none;
    padding-top: 40px;
}

.related-goods  hr
{
    border: 3px solid #b14916;
    border-radius: 3px;
    max-width: 300px;
    background: #b14916;
}
/* product-page */
